body{
	margin: 0px, auto;
	margin-top: 20px;
	margin-left: 200px;
	margin-right: 200px;
	font-family: Open Sans;
	background-color: #fcf9ea;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: right;
}

li {
	height: 40px;
	padding: none;
	display: inline-block;
	position: relative;
	float: none;
}

img {
	height: 100px;
}

a {
	text-decoration: none !important;
}


.logo_left {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    float: left;
    margin-right: 0px;
    margin-top: 0px; 
}

.navigation_bar{
	height: 40px;
}


.navigation_bar a{
	display: inline-block;
	color: #2A3D45;
	text-align: center;
	padding: 20px 15px 20px 15px;
	text-decoration: none;
}

.navigation_bar a:after{
	content: "";
	background-color: #ddd;
	color: #FF98D2;
	display: block;
	width: 0;
	height: 2px;
	background: #DBA29B;
	transition: width .3s;
}

.navigation_bar a:hover:after{
	width: 100%;
	transition: width .3s;
}

.navigation_bar a:active{
	background-color: #DBA29B;
	color: #FFFFFF;
}

.mainheader {
    color: #C95D63;
    font-size: 50px;
    font-weight: 700;
    font-family: "Abril Fatface";
    text-align: center;
}

.current {
	background-color: #DBA29B;
}

input [type="submit"]{
    background-color: #4CAF50 !important;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input [type="submit"]:hover{
    background-color: #45a049;
}

input[type=text], select, textarea{
    width: 95%;
    padding: 12px ;
    border: 2px solid #ccc;
    border-radius: 8px;
    resize: vertical;
}

.footer{
	position: fixed;
	background-color: transparent !important;
	text-align: center;
	color: #C95D63;
	
	bottom: 0;
	left: 0px;
	right: 0px;
	margin-bottom: 0px;

}


